html, body {
  margin: 0;
  padding: 0;
  color: black;
  height: 100%;
  overflow-x: hidden;
}

/* body {
  font-family: 'Poppins', sans-serif;
} */

.fondo-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #0e0e0e;
  background-image:
    radial-gradient(circle at 30% 30%, rgba(0, 0, 255, 0.2) 0%, transparent 50%),
    radial-gradient(circle at 70% 60%, rgba(0, 102, 204, 0.3) 0%, transparent 50%),
    radial-gradient(circle at 60% 20%, rgba(255, 255, 255, 0.05) 0%, transparent 60%),
    radial-gradient(circle at 90% 90%, rgba(0, 0, 255, 0.2) 0%, transparent 40%);
  background-blend-mode: screen;
  /* filter: blur(20px); */
  animation: anim-bg 20s infinite alternate ease-in-out;
}

@keyframes anim-bg {
  0% {
    background-position: 30% 30%, 70% 60%, 60% 20%, 90% 90%;
  }
  100% {
    background-position: 40% 20%, 60% 70%, 50% 25%, 85% 85%;
  }
}